<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.richard.oichina">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_puhan"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:fullBackupContent="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".activity.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.LessonsActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PinyinActivity"
            android:parentActivityName=".activity.LessonsActivity"
            android:screenOrientation="portrait" />

    </application>
</manifest>