<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.puhan">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_puhan"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_puhan"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.puhan.activity.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.puhan.activity.HomeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.puhan.activity.LessonsActivity"
            android:parentActivityName="com.puhan.activity.HomeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.puhan.activity.PinyinActivity"
            android:parentActivityName="com.puhan.activity.LessonsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.puhan.activity.WhatsYourNameActivity"
            android:parentActivityName="com.puhan.activity.LessonsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.puhan.activity.FlashcardActivity"
            android:parentActivityName="com.puhan.activity.LessonsActivity"
            android:screenOrientation="portrait" />

    </application>
</manifest>